<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KTQueue</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <link rel="stylesheet" href="/static/ktqueue.css">

  </head>
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
<body>
  <div id="app" v-cloak>
    <div id="tq-header">
    </div>
    <el-menu :default-active="$route.path" mode="horizontal" :router="true">
      <h2 id="tq-title">KTQueue</h2>
      <el-menu-item index="/jobs" :route="{path: '/jobs'}">Jobs</el-menu-item>
      <el-menu-item index="/repos" :route="{path: '/repos'}">Repos</el-menu-item>
      <el-menu-item v-if="current_user" index="current_user" :route="{}">{{current_user}}</el-menu-item>
      <el-menu-item v-else index="login" :route="{}"><a href="/oauth2/start">Login</a></el-menu-item>

    </el-menu>
    <router-view :check-auth="checkAuth"></router-view>
  </div>
<script type="text/x-template" id="tq-jobs-template">
  <div>
    <div class="table-header">
      <el-button size="small" type="primary" @click="checkAuth(), createJobDialog.visible = true">Create Job</el-button>
      <el-radio-group v-model="jobsFilter" size="small" @change="jobsFilterChange">
        <el-radio-button label="All"></el-radio-button>
        <el-radio-button label="Hidden"></el-radio-button>
        <el-radio-button label="Fav"></el-radio-button>
        <el-radio-button label="Running"></el-radio-button>
      </el-radio-group>
      <el-pagination
        layout="prev, pager, next"
        :page-size="jobsData.page_size"
        :total="jobsData.total"
        :current-page="page"
        @current-change="loadJobs"
        >
      </el-pagination>
    </div>
    <el-table
      :data="jobsData.data"
      style="width: 100%"
      v-loading="jobsData.loading">
      <el-table-column type="expand">
       <template scope="scope">
         <div class="job-expand-item"><label>name: </label><div>{{ scope.row.name }}</div></div>
         <div class="job-expand-item"><label>repo: </label><div>{{ scope.row.repo }}</div></div>
         <div class="job-expand-item"><label>branch: </label><div>{{ scope.row.branch }}</div></div>
         <div class="job-expand-item"><label>commit_id: </label><div>{{ scope.row.commit_id }}</div></div>
         <div class="job-expand-item"><label>command: </label><div>{{ scope.row.command }}</div></div>
         <div class="job-expand-item"><label>comments: </label><div><pre>{{ scope.row.comments }}</pre></div></div>
         <div class="job-expand-item"><label>Clone: </label><el-button @click="copyJob(scope.$index, jobsData.data)" type="text" size="small">Clone</el-button></div>
         <div class="job-expand-item">
           <label>Control: </label>
           <el-button v-if="scope.row.status.indexOf('Completed') != -1 || scope.row.status == 'ManualStop'"  @click="restartJob(scope.$index, jobsData.data)" type="text" size="small">Restart</el-button>
           <el-button v-else @click="stopJob(scope.$index, jobsData.data)" type="text" size="small">Stop</el-button>
         </div>
         <div class="job-expand-item"><label>TensorBoard: </label>
           <el-button v-if="scope.row.tensorboard" @click="stopBoard(scope.$index, jobsData.data)" type="text" size="small">Stop</el-button>
           <el-button v-else @click="startBoard(scope.$index, jobsData.data)" type="text" size="small">Start</el-button>
         </div>
         <div class="job-expand-item"><label>Hide: </label>
           <div>
             <el-switch
             v-model="scope.row.hide"
             :width="70"
             on-text="Hide"
             off-text="Show"
             @change="jobHideChange(scope.row, $event)">
            </el-switch>
          </div>
         </div>
         <p v-if="scope.row.tensorboard">
          <a :href="'/tensorboard/' + scope.row.name + '/'">TensorBoard</a>
         </p>

       </template>
      </el-table-column>
      <el-table-column
        width="50">
        <template scope="scope">
          <el-button type="text" @click="toggleFavorite(scope.row, $event)">
            <i v-if="scope.row.fav" class="el-icon-star-on"/>
            <i v-else class="el-icon-star-off"/>
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
        prop="name"
        label="name"
        :show-overflow-tooltip="true">
      </el-table-column>
      <el-table-column
        label="Node"
        width="100">
        <template scope="scope">
          {{ scope.row.runningNode || '' }}
        </template>
      </el-table-column>
      <el-table-column
        label="status"
        prop="status"
        width="140"
        header-align="left"
        :show-overflow-tooltip="true">
      </el-table-column>
      <el-table-column
        prop="gpu_num"
        label="GPUs"
        width="100"
        align="center">
      </el-table-column>
      <el-table-column
        label="creation"
        width="200">
        <template scope="scope">
          <span :title="moment(scope.row.creationTimestamp).fromNow()">{{scope.row.creationTimestamp ? moment(scope.row.creationTimestamp).format('YYYY-MM-DD HH:mm:SS'): ''}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="user"
        label="user"
        width="110"
        :show-overflow-tooltip="true"
        align="left">
      </el-table-column>
      <el-table-column
        label="Log"
        width="100">
        <template scope="scope">
          <el-button @click="viewLog(scope.$index, jobsData.data)" type="text" size="small">Log</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :title="createJobDialog.title" v-model="createJobDialog.visible" size="large">
      <el-form ref="form" :model="createJobDialog.data" label-width="80px">
        <el-form-item label="Name">
         <el-input v-model="createJobDialog.data.name"></el-input>
        </el-form-item>
        <el-form-item label="Node">
          <el-select v-model="createJobDialog.data.node" clearable placeholder="Any">
            <el-option
              v-for="item in nodes"
              :label="item.labels['kubernetes.io/hostname'] + ' (' + (item.gpu_capacity - item.gpu_used) + '/' + item.gpu_capacity + ')'"
              :value="item.labels['kubernetes.io/hostname']"
              :key="item.labels['kubernetes.io/hostname']">
            </el-option>
          </el-select>
          <label> (avail/total) </label>
        </el-form-item>
        <el-form-item label="GPUs">
         <el-input-number v-model="createJobDialog.data.gpu_num"></el-input-number>
        </el-form-item>
        <el-form-item label="Command">
         <el-input type="textarea" :rows=3 v-model="createJobDialog.data.command"></el-input>
        </el-form-item>
        <el-form-item label="Image">
         <el-input v-model="createJobDialog.data.image"></el-input>
        </el-form-item>
        <el-form-item label="Repo">
          <el-autocomplete v-model="createJobDialog.data.repo"
          :fetch-suggestions="repoQuerySearch"
          style="width: 100%"></el-autocomplete>
        </el-form-item>
        <el-form-item label="Branch">
         <el-input v-model="createJobDialog.data.branch"></el-input>
        </el-form-item>
        <el-form-item label="Commit id">
         <el-input v-model="createJobDialog.data.commit_id"></el-input>
        </el-form-item>
        <el-form-item label="Comments">
         <el-input type="textarea" :rows=3 v-model="createJobDialog.data.comments"></el-input>
        </el-form-item>
        <el-form-item v-for="(volume, index) in createJobDialog.data.volumeMounts"  :key="volume.key" :label="'Volume'" :rules="{
            required: true, message: 'volumeMounts should not be empty', trigger: 'blur'
          }">
          <el-col :span="10">
            <el-form-item>
              <el-input placeholder="hostPath" v-model="volume.hostPath" style="width: 100%;"></el-input>
            </el-form-item>
          </el-col>
          <span class="inline-form-span"> </span>
          <el-col :span="10">
           <el-form-item>
             <el-input placeholder="mountPath" v-model="volume.mountPath" style="width: 100%;"></el-input>
           </el-form-item>
          </el-col>
          <span class="inline-form-span"> </span>
          <el-button @click.prevent="removeVolume(volume)">删除</el-button>
        </el-form-item>
        <el-form-item>
          <el-button @click="addVolumeMount">Add volume</el-button>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="createJobDialog.visible = false">取 消</el-button>
        <el-button type="primary" @click="createJob">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</script>

<script type="text/x-template" id="tq-repos-template">
  <div>
    <div class="table-header">
      <el-button size="small" type="primary" @click="checkAuth(), createRepoDialog.visible = true">Create Repo</el-button>
      <el-pagination
        layout="prev, pager, next"
        :page-size="reposData.page_size"
        :total="reposData.total"
        @current-change="loadRepos"
        >
      </el-pagination>
    </div>
    <el-table
      :data="reposData.data"
      style="width: 100%"
      v-loading="reposData.loading">
      <el-table-column
        prop="repo"
        label="repo"
        :show-overflow-tooltip="true">
      </el-table-column>
    </el-table>
    <el-dialog :title="createRepoDialog.title" v-model="createRepoDialog.visible" size="large">
      <el-form ref="form" :model="createRepoDialog.data" label-width="80px">
        <el-form-item label="Repo">
         <el-input v-model="createRepoDialog.data.repo"></el-input>
        </el-form-item>
        <el-form-item label="ssh_key">
         <el-input type="textarea" :rows=3 v-model="createRepoDialog.data.ssh_key"></el-input>
        </el-form-item>
        <el-form-item label="Username">
         <el-input v-model="createRepoDialog.data.username"></el-input>
        </el-form-item>
        <el-form-item label="Password">
         <el-input v-model="createRepoDialog.data.password"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="createRepoDialog.visible = false">取 消</el-button>
        <el-button type="primary" @click="createRepo">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</script>
<script type="text/x-template" id="tq-job-log-template">
  <div>
    <el-select v-model="selected_version" placeholder="" @change="versionChange">
      <el-option
        v-for="version in versions"
        :label="version"
        :value="version"
        :key="version">
      </el-option>
    </el-select>
    <el-switch
      v-model="line_wrap"
      :width="90"
      on-text="Wrap"
      off-text="No wrap">
    </el-switch>
    <pre class="ktq-log-text" v-bind:class="{'ktq-log-wrap': line_wrap}">{{log_text}}</pre>
  </div>
</script>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-resource@1.2.0/dist/vue-resource.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.17.1/moment.js"></script>
<script>
  var Jobs = Vue.component('tq-jobs', {
    template: '#tq-jobs-template',
    props: {
      checkAuth: Function,
    },
    data: function(){
      return {
        jobsFilter: 'All',
        jobsData: {
          count: 0,
          page_size: 20,
          page: 1,
          loading: false,
          data: []
        },
        createJobDialog: {
          visible: false,
          title: 'Create Job',
          data: {
            name: '',
            node: null,
            gpu_num: 1,
            command: '',
            image: '',
            repo: '',
            branch: '',
            commit_id: '',
            comments: '',
            volumeMounts: [],
          }
        },
        repos: [],
        nodes: []
      }
    },
    mounted:function() {
      this.jobsFilter = this.$route.query.jobsFilter || this.jobsFilter;
      this.page = this.$route.query.page || this.page;
      this.loadJobs(this.page);
      this.$http.get('/repos?page_size=0&repo_only=1').then(function(resource){
        for (var i = 0; i < resource.body.data.length; i++){
          this.repos.push({"value": resource.body.data[i].repo});
        }
      });
      this.$http.get('/nodes').then(function(resource){
        this.nodes = resource.body.items;
      });
    },
    methods: {
      moment: moment,
      copyJob: function(index, tableData) {
        this.checkAuth()
        var line = tableData[index];
        Object.assign(this.createJobDialog.data, line);
        this.createJobDialog.visible = true;
      },
      stopJob: function(index, tableData) {
        this.checkAuth();
        var job_name = tableData[index].name;
        var $this = this;
        this.$confirm('Do you really want to stop ' + job_name + '?', 'Stop job', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(function() {
          $this.$http.post('/job/stop/' + job_name, {}).then(function(resource){
            $this.$message({
              type: 'success',
              message: job_name + ' stopped!'
            });
            $this.loadJobs(this.page);
            $this.createJobDialog.visible=false;
          });
        }).catch(function() {
          $this.$message({
            type: 'info',
            message: 'Cancel.'
          });
        });
      },
      restartJob: function(index, tableData) {
        this.checkAuth();
        var job_name = tableData[index].name;
        var $this = this;
        this.$confirm('Do you really want to Restart ' + job_name + '?', 'Restart job', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(function() {
          $this.$http.post('/job/restart/' + job_name, {}).then(function(resource){
            $this.$message({
              type: 'success',
              message: job_name + ' Restarted!'
            });
            $this.loadJobs(this.page);
            $this.createJobDialog.visible=false;
          });
        }).catch(function() {
          $this.$message({
            type: 'info',
            message: 'Cancel.'
          });
        });
      },
      startBoard: function(index, tableData) {
        this.checkAuth();
        var line = tableData[index];
        var $this = this;
        this.$prompt('Please enter logdir. You can use $JOB_NAME, $WORK_DIR, $OUTPUT_DIR', 'TensorBoard', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
        }).then(function(data) {
          $this.$http.post('/job/tensorboard/' + line.name, {'logdir': data.value}).then(function(){
            $this.loadJobs($this.jobsData.page);
          })
        }).catch(function() {

        });
      },
      stopBoard: function(index, tableData) {
        this.checkAuth();
        var line = tableData[index];
        var $this = this;
        this.$http.delete('/job/tensorboard/' + line.name).then(function(){
          $this.loadJobs($this.jobsData.page);
          this.$message({
            type: 'info',
            message: 'TensorBoard stopped.'
          });
        })
      },
      loadJobs: function(page) {
        this.$router.push({query: {
          jobsFilter: this.jobsFilter,
          page: page
        }})
        this.jobsData.loading=true;
        var params = {};
        params['page'] = page;
        if (this.jobsFilter === 'Hidden') {
          params['hide'] = '1'
        } else if (this.jobsFilter === 'Fav') {
          params['fav'] = '1'
        } else if (this.jobsFilter === 'Running') {
          params['status'] = 'Running'
        }

        this.$http.get('/jobs', {params: params}).then(function(resource){
          for (var i = 0; i < resource.body.data.length; i++){
            var line = resource.body.data[i];
            if (line['creationTimestamp']) {
              // line['creationTimestamp'] = new Date(line['creationTimestamp'])
            }
          }
          resource.body.loading=false;
          this.jobsData = resource.body;
        });
      },
      createJob: function() {
        this.$http.post("/jobs", this.createJobDialog.data).then(function(resource){
          this.loadJobs(1);
          this.createJobDialog.visible=false;
        }).catch(function(response){
          this.$message.error(response.body);
          console.error(response.body);
        });
      },
      viewLog: function(index, tableData) {
        var job_name = tableData[index].name;
        this.$router.push('/jobs/' + job_name + '/log');
      },
      repoQuerySearch: function(queryString, cb) {
        var repos = this.repos;
        var results = queryString ? repos.filter(this.createFilter(queryString)) : repos;
        console.log(results);
        cb(results);
      },
      createFilter: function(queryString) {
        return function(candidate) {
          return (candidate.value.indexOf(queryString.toLowerCase()) !== -1);
        };
      },
      addVolumeMount: function() {
        this.createJobDialog.data.volumeMounts.push({
          hostPath: '',
          mountPath: '',
          key: Date.now()
        })
      },
      removeVolume: function(volume) {
        var index = this.createJobDialog.data.volumeMounts.indexOf(volume)
        if (index !== -1) {
          this.createJobDialog.data.volumeMounts.splice(index, 1)
        }
      },
      jobHideChange: function(line, event) {
        this.$http.put('/jobs', {
          '_id': line._id,
          'hide': event
        }).then(function(){
          line.hide = event;
        }).catch(function(){
          line.hide = !event;
        })
        return !event;
      },
      toggleFavorite: function(line, event) {
        var icon = event.target;
        if (icon.tagName !== 'I') {
          icon=icon.querySelector("i")
        }
        icon.className='el-icon-loading';
        this.$http.put('/jobs', {
          '_id': line._id,
          'fav': !line.fav
        }).then(function(){
          line.fav = !line.fav;
        }).catch(function(){
        })
      },
      jobsFilterChange: function() {
        this.loadJobs(this.page);
      }
    }
  });
  var Repos = Vue.component('tq-repos', {
      template: '#tq-repos-template',
      props: {
        checkAuth: Function,
      },
      data: function(){
        return {
          reposData: {
            count: 0,
            page_size: 20,
            page: 1,
            loading: false,
            data: []
          },
          createRepoDialog: {
            visible: false,
            title: 'Create Repo',
            data: {
              repo: '',
              ssh_key: '',
              username: '',
              password: '',
            }
          }
        }
      },
      mounted:function() {
        this.loadRepos(1);
      },
      methods: {
        loadRepos: function(page) {
          this.reposData.loading=true;
          this.$http.get("/repos?page=" + page).then(function(resource){
            resource.body.loading=false;
            this.reposData = resource.body;
          })
        },
        createRepo: function() {
          this.$http.post("/repos", this.createRepoDialog.data).then(function(resource){
            this.loadRepos(1);
            this.createRepoDialog.visible=false;
          })
        }
      }
  });
  var JobLog = Vue.component('tq-job-log', {
    template: '#tq-job-log-template',
    data: function(){
      return {
        log_text: '',
        selected_version: null,
        versions: [],
        line_wrap: false
      }
    },
    mounted:function() {
      this.loadJobLogVersions(this.$route.params.job_name);
    },
    methods: {
      loadJobLog: function(job_name, version){
        if (version === null) {
          return;
        }
        var loading = this.$loading({
          target: '.ktq-log-text',
          text: 'loading log'
        })
        this.$http.get('/jobs/' + job_name + '/log/' + version ).then(function(resource){
          this.log_text = resource.body;
          loading.close();
        }).catch(function(response) {
          this.$message.error('Unable to load Log!\n');
          console.error(response.body);
          loading.close();
        });
      },
      loadJobLogVersions: function(job_name) {
        this.$http.get('/jobs/' + job_name + '/log/version').then(function(resource){
          this.versions = resource.body.versions;
          if (this.versions.length === 0) {
            this.selected_version = null;
            return;
          }
          if (this.$route.query.version) {
            this.selected_version = this.$route.query.version;
            return;
          }
          if (this.versions.indexOf('current') != -1) {
            this.selected_version='current';
          } else {
            this.selected_version = this.versions[this.versions.length - 1]
          }
        }).catch(function(response) {
          this.$message.error('Unable to load Log versions!\n');
          console.error(response.body);
        });
      },
      versionChange: function(version) {
        this.$router.replace({query: {version: version}})
        this.loadJobLog(this.$route.params.job_name, version);
      }
    }
  });

  new Vue({
    el: '#app',
    router: new VueRouter({
      routes:  [
        { path: '/', name: 'jobs', redirect: '/jobs' },
        { path: '/jobs', component: Jobs },
        { path: '/jobs/:job_name/log', component: JobLog },
        { path: '/repos', name: 'repos', component: Repos }
      ]
    }),
    data: {
      current_user: null,
      auth_required: false,
    },
    mounted:function() {
      this.loadCurrentUser();
    },
    methods: {
      loadCurrentUser: function(){
        this.$http.get('/current_user').then(function(resource){
          this.current_user = resource.body.user;
          this.auth_required = resource.body.auth_required;
        })
      },
      checkAuth: function() {
        if (this.current_user === null && this.auth_required) {
          window.location = 'oauth2/start'
          return false;
        }
        return true;
      }
    }
  })
</script>
</html>
